  *{
      box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #1b5846;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
  }

  .header {
    background-color: #1b8020;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav a{
    text-decoration: none;
    color: #fff;
  }

  .nav-item {
    position: relative;
    padding: 0 12px;    
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;    
  }

  .main {
    margin-bottom: auto;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #111;
  }

  .section-title {
    margin-bottom: 20px;  
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }

  .section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid #d7d1c9;
  }

  .pre{
      padding: 0;
      margin: 0;
  }

  .profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;  
    text-transform: uppercase;
  }

  .main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #829985;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
  }

  .subtitle {
    margin-top: 20px;
    color: #829985;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .avatar{
      border-radius: 10px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, .6);
  }

  .contacts-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }

  .summary-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }

  .skills-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }

  .skills-item span{
      color: royalblue;
  }

  .courses-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }

  .courses-item span{
      color: royalblue;
  }

  .section a{
    text-decoration: none;
    color: royalblue;
  }

  .section a:hover{
      color: black;
  }

  .education-item{
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
  }

  .footer{
    background-color: #fff;
    padding: 20px;  
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #829985;
  }

  .github{
    color: #829985;
    text-decoration: none;
    line-height: 45px;
  }

  .rss{
    width: 121px;
    height: 45px;
    background-image: url("./images/rss.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
